In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('csv/spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_spam = LabelEncoder()

In [8]:
df['spam'] = le_spam.fit_transform(df.Category)

In [9]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x1,x2,y1,y2 = train_test_split(df.Message,df.spam,test_size=0.25)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
v = CountVectorizer()

In [14]:
X_train_count = v.fit_transform(x1.values)
X_train_count.toarray()[:13]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
model = MultinomialNB()

In [17]:
model.fit(X_train_count,y1)

MultinomialNB()

In [18]:
emails = [
    'Hey Abrar, how are you can we get to together at shatti theatre to watch the new movie tommorow',
    'upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [19]:
from sklearn.pipeline import Pipeline

In [20]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb',MultinomialNB())
])

In [21]:
clf.fit(x1,y1)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [22]:
clf.score(x2,y2)

0.9870782483847811

In [23]:
clf.predict(emails)

array([0, 1])