In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [55]:
df = pd.read_csv('csv/weight-height.csv')

In [56]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [57]:
le_gender = LabelEncoder()

In [58]:
df['Gender'] = le_gender.fit_transform(df.Gender)

In [59]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

# MAKING DATA AND TARGET VALUES

# IN THE TABLE MALE IS DENOTED 1 AND FEMALE 0

In [61]:
X = df.drop('Gender',axis=1)

In [62]:
y = df.Gender

In [63]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [64]:
model = LogisticRegression()

In [65]:
model.fit(X_train,y_train)

LogisticRegression()

In [66]:
model.score(X_test,y_test)

0.9225

# NOW AM USING SVM TO SEE IF THERE IS A BETTER SCORE ACHIEVABLE
# THE PREDICTION MODELS TAKES HEIGHT IN INCHES AND WEIGHT IN POUNDS

In [88]:
model2 = SVC(C=10)

In [89]:
model2.fit(X_train,y_train)

SVC(C=10)

In [90]:
model2.score(X_test,y_test)

0.92

In [117]:
predictions = model2.predict(X_test)

In [118]:
predictions[0:10]

array([0, 1, 1, 1, 0, 1, 1, 1, 0, 1])

# IN MOST CASES WE GET TRUE THAT MEANS IN THIS CASE SVM AND LOGISTIC REGRESSION BOTH ARE EQUALY GOOD