In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('csv/weight-height.csv')

In [3]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [10]:
dummies = pd.get_dummies(df.Gender)

In [12]:
dummies

      Female  Male
0          0     1
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
9995       1     0
9996       1     0
9997       1     0
9998       1     0
9999       1     0

[10000 rows x 2 columns]

In [13]:
isMale = pd.concat([df,dummies],axis=1)

In [14]:
isMale

      Gender     Height      Weight  Female  Male
0       Male  73.847017  241.893563       0     1
1       Male  68.781904  162.310473       0     1
2       Male  74.110105  212.740856       0     1
3       Male  71.730978  220.042470       0     1
4       Male  69.881796  206.349801       0     1
...      ...        ...         ...     ...   ...
9995  Female  66.172652  136.777454       1     0
9996  Female  67.067155  170.867906       1     0
9997  Female  63.867992  128.475319       1     0
9998  Female  69.034243  163.852461       1     0
9999  Female  61.944246  113.649103       1     0

[10000 rows x 5 columns]

In [16]:
isMale.drop('Gender',axis=1,inplace=True)

In [55]:
PredictionData = pd.concat([isMale['Height'],isMale['Weight']],axis=1)

In [59]:
# RANDOM DATA FOR PREDICTION
Heights = PredictionData.Height[70000:70020]
Weights = PredictionData.Weight[70000:70020]

# USING LINEAR REGRESSION TO PREDICT

In [17]:
model = LinearRegression()

In [19]:
model.fit(isMale[['Height','Weight']], isMale['Female'])

LinearRegression()

In [47]:
model.score(isMale[['Height','Weight']], isMale['Female'])

0.6491871733333061

In [65]:
(model.predict([[80,150]]))

array([1.24791526])

In [25]:
 isMale.drop('Male',axis=1,inplace=True)

# NOT GOOD RESULTS , MODEL SCORE VERY LESS TOO
# NOW USING LOGISTIC REGRESSION WITH TRAIN TEST SPLIT

In [26]:
x = isMale.drop(['Female'],axis=1)

In [27]:
y = isMale.Female

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [29]:
model2 = LogisticRegression()

In [31]:
model2.fit(x_train,y_train)

LogisticRegression()

In [52]:
model2.predict([[65,100]])

array([1], dtype=uint8)

# ACCURATE RESULTS
# MEASURING BOTH MODELS SCORE WITH THE TRAINING DATA

In [38]:
model.fit(x_train,y_train)

LinearRegression()

In [43]:
model.score(x_test,y_test),model.score(x_train,y_train)

(0.6583834891372733, 0.6467977043152385)

In [42]:
model2.score(x_test,y_test),model2.score(x_train,y_train)

(0.919, 0.91925)